/* Taken from website that designed a terminal like webpage /*
/* https://css-tricks.com/old-timey-terminal-styling/ */
body {
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 5rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      0deg,
      rgba(black, 0.15),
      rgba(black, 0.15) 1px,
      transparent 1px,
      transparent 2px
    );
    pointer-events: none;
    }
}
::selection {
  background: #0080FF;
  text-shadow: none;
}


a.button{
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:"Courier";
	font-weight:300;
	color:#FFFFFF;
	text-align:center;
	transition: all 0.2s;
	position: center;
	width: 280px;
	height: 50px;
	font-size: 30px;
}
a.button:hover{
	color:#000000;
	background-color:#FFFFFF;
}